<% provide :title, @user.name %>

<div class="row mt-20">
  <div class="col-md-4" >
    <div class="uploader">
      <div id="fileuploader"></div>
    </div>
  </div>

  <div class="col-md-8">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#images" aria-controls="images" role="tab" data-toggle="tab">
          <span class="glyphicon glyphicon-picture"></span> Photos
        </a>
      </li>

      <li role="presentation">
        <a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">
          <span class="glyphicon glyphicon-film"></span> Videos
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="images">
        <%= render partial: "preview_list", locals: {attachments: @user.images.order(id: :desc)}%>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="videos">
        <%= render partial: "preview_list", locals: {attachments: @user.videos.order(id: :desc)}%>
      </div>
    </div>
  </div>
</div>


<div id="attachment-dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>loading....</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="video-list-dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Video List</h4>
      </div>
      <div class="modal-body" style="height: 700px; overflow: scroll;">
        <p>loading....</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(function(){
        // 上传附件
        $("#fileuploader").uploadFile({
            url: "<%=user_attachments_path(@user)%>",
            fileName: "content",
            headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
            statusBarWidth: "100%",
            dragdropWidth: "100%",
            dragDropStr: "<span><b>拖拽文件到此出上传</b></span>",
            uploadButtonClass: "btn btn-success btn-sm",
            uploadStr: "上传",
            allowedTypes: "jpg,jpeg,mp4",
            extErrorStr: "不支持此格式文件上传. 支持的文件格式为: ",
            maxFileSize: 10 * 1024 * 1024, //10M
            sizeErrorStr: "文件过大，上传文件最大: ",
        });
    });
</script>