<footer class="footer">
  <small>
    2018-2019 copyright by XXX INC.
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于我们", about_path %></li>
      <li><%= link_to "联系我们", contact_path %></li>
    </ul>
  </nav>
</footer>
